.square{
    height: 34px;
    width: 34px;
    text-align: center;
    box-sizing: border-box;
}

#flagCounter{
    background: white;
    border: black solid 2px;
    float: left;
}

#flagBox{
    float: left;
    background: gray;
}

.redBorder{
    border: 2px solid red;
}

tr, td{
    border: 1px solid gray;
    height: 30px;
    width: 30px;
    font-size: 18px;
    text-align: center;
    user-select: none;
    vertical-align: middle;
    font-weight: bold;
}

table{
    border-spacing: 0;
    border-collapse: collapse;
    clear: left;
}

.x1{
    color: blue;
}
.x2{
    color: green;
}
.x3{
    color: red;
}
.x4{
    color: purple;
}
.x5{
    color: maroon;
}
.x6{
    color: turquoise;
}
.x7{
    color: black;
}
.x8{
    color: gray;
}